.panel .question-box-heading {
    text-transform: none;
    font-size:17px;
    font-weight: lighter;
}

.weak-font {
    font-weight: lighter;
}
.panel a {
    font-weight: bolder;
}

.panel .question-box-heading a {
    font-weight: bold;
}

.dashed-underline {

 text-decoration: none;
    border-bottom:1px dotted;
}

.panel-warning > .panel-heading {
    background-color: #e0ba29;
}

.text-warning {
    color: #e0ba29;
}

.btn-warning {
    color: #e0ba29;
}

.panel-primary > .panel-heading {
    background-color: #2950e0;
}

.text-primary {
    color: #2950e0;
}

.btn-primary {
    color: #2950e0;
}

.panel-danger > .panel-heading {
    background-color: #e02950;
}

.text-danger {
    color: #e02950;
}

.btn-danger {
    color: #e02950;
}

.panel-success > .panel-heading {
    background-color: #abe029;
}

.text-success {
    color: #abe029;
}

.btn-success {
    color: #abe029;
}

/*
.panel .question-box-title-done:hover {
    color: #d1d1d1;
}

.panel .question-box-title-done:hover {
    text-decoration: none;
    color: inherit;
}

.panel .question-box-title-done {
    text-decoration: line-through;
    color: #d1d1d1;
}
*/
