.panel .question-box-heading {
    text-transform: none;
    font-size:17px;
    font-weight: lighter;
}

.weak-font {
    font-weight: lighter;
}
.panel a {
    font-weight: bolder;
}

.panel .question-box-heading a {
    font-weight: bold;
}

.dashed-underline {

 text-decoration: none;
    border-bottom:1px dotted;
}



/*
.panel .question-box-title-done:hover {
    color: #d1d1d1;
}

.panel .question-box-title-done:hover {
    text-decoration: none;
    color: inherit;
}

.panel .question-box-title-done {
    text-decoration: line-through;
    color: #d1d1d1;
}
*/
