{{extend 'layout.html'}}

<h2>
{{=T("Create a new application")}}
</h2>

<div class="container">
    <div class="row">
        <div id="web2py_user_form" class="col-lg-6">
        {{
        =form
        }}
        </div>
    </div>
</div>

{{block page_js}}
<script>
    $('#application_corporate_name').addClass('form-control');
    $('#application_pps').addClass('form-control');
    function _on_gname_change(evt){
        if ($('#application_application_size').val()=='Corporate') {
            $('#application_corporate_name__row').fadeIn();
            $('#application_largest_practice__row').fadeIn();
        } else {
            $('#application_corporate_name__row').fadeOut();
            $('#application_largest_practice__row').fadeOut();
        }
    }
    $('#application_application_size').change(_on_gname_change);
    _on_gname_change();
</script>
{{end page_js}}