{{import urllib}}
{{import pydal.objects}}
{{from collections import OrderedDict}}
{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}

{{block header}}
<header style="text-align: center;">
    {{# <h3>A. Spencer MD (MDLand)</h3>  {{#practice}}
    <h3>Ebony Proudfoot <span class="text-muted">(Your Trainer)</span></h3>  {{#practice}}
    <h4><span class="glyphicon glyphicon-map-marker"></span> <a href="http://maps.google.com/?q={{=urllib.urlencode({'q':'660 White Plains Rd #325, Tarrytown, NY 10573'})}}">660 White Plains Rd #325, Tarrytown, NY 10573</a></h4>  {{#address}} {{# http://bit.ly/2a59inp}}
    <h5>
    <span class="glyphicon glyphicon-earphone"></span> (914) 524-0500 <span style="opacity:0.2">|</span>
    <span class="glyphicon glyphicon-print"></span> (914) 524-0501 <span style="opacity:0.2">|</span>
    {{# <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:allison@insightmanagement.org">allison@insightmanagement.org</a>}}
    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:ebony@insightmanagement.org">ebony@insightmanagement.org</a>
    </h5>
</header>
{{end}}

{{block left_sidebar}}
<ul class="nav nav-pills nav-stacked">
  <li role="presentation" class="active"><a href="#">Schedule</a></li>
  <li role="presentation"><a href="#">Patient Communication</a></li>
  <li role="presentation"><a href="#">Progress Notes</a></li>
  <li role="presentation"><a href="#">Non Clinical Workflow</a></li>
  <li role="presentation"><a href="#">Polices and Procedures</a></li>
  <li role="presentation"><a href="#">EMR Screenshots</a></li>
</ul>
{{end}}

{{def QUESTION_PANEL(question, answered, form, multi=0, icon="question-sign"):}}
{{if form:}}
<div class="panel panel-{{if answered:}}primary{{else:}}info{{pass}}">
    <div class="panel-heading question-box-heading"><span class="pull-right glyphicon glyphicon-{{=icon}}"></span><span class="glyphicon glyphicon-{{if answered:}}check{{else:}}unchecked{{pass}}"></span><span class="question-box-title-done"> {{if answered:}}[Answered] {{pass}}{{=question}}</span></div>
    <div class="panel-body">

    {{if getattr(answered, 'upload', None):}}  {{# for single uploads}}
        <ul>
            <li><a href="{{=URL('download', args=answered.upload)}}">{{=answered.filename}}</a></li>
        </ul>
    {{pass}}

    {{if answered and isinstance(answered, pydal.objects.BasicRows):}}  {{# the pythonic way to test object, instead of type-checking}}
        <ul>
        {{flattened_answers = map(lambda each: each[1],answered.as_dict().items())}}  {{'''}} as_dict returns as {4L: {..., 'id':4L}}, flatten to {..., 'id':4L} {{'''}}
        {{for answer_dict in flattened_answers:}}
            <li><b class="text-info">
            {{for multi_field_value in filter(lambda field_value: "multi_" in field_value[0], sorted(answer_dict.items())):}}  {{# get the fields that have "multi_" in them}}
                {{if not "_note" in multi_field_value[0]:}}{{=multi_field_value[1]}}&nbsp;{{elif multi_field_value[1]:}}- {{=I(multi_field_value[1])}}{{pass}}
            {{pass}}
            </b></li>
        {{pass}}
        </ul>
    {{pass}}
    {{=form}}
    <ul>
        {{for warning in form.warnings:}}
            <li class="text-danger">{{=warning}}</li>
        {{pass}}
    </ul>
    </div>
</div>
{{pass}}
{{return}}

{{
        actions = []
        if MISSING_ANSWERS(
            (transition_of_care_plan_internal_row, transition_of_care_plan_internal_form),
            (intake_form_upload_row, intake_form_upload_form),
            (intake_form_row, intake_form_form),
            (len(intake_form_patient_example_rows)>=3, intake_form_patient_example_form)
        ):
            actions.append(XML(T("Please answer one or more questions / instructions below.")))
        pass
        if INCORRECT_ANSWERS(
            transition_of_care_plan_internal_form, intake_form_upload_form, intake_form_form, intake_form_patient_example_form
        ):
            actions.append(XML(T("Please fix one or more questions / instructions below.")))
        pass

        has_action = bool(actions)
}}

<div class="panel panel-primary panel-{{if has_action:}}danger{{else:}}success{{pass}}">
    <div class="panel-heading question-box-heading" style="text-transform: none; font-size:17px"><span class="pull-right glyphicon glyphicon-{{if not has_action:}}ok-sign{{else:}}exclamation-sign{{pass}}"></span>{{if has_action:}}Action{{="s" if len(actions)>1 else ""}} needed...{{else:}}Success!{{pass}}</div>
    <div class="panel-body">
        <ul>
            {{for action in actions:}}
                <li>{{=action}}</li>
            {{pass}}
            {{if not has_action:}}
                <li>You have completed this section!</li>
            {{pass}}
        </ul>
    </div>
</div>

{{QUESTION_PANEL("Does the practice have a transition of care plan for importing a patient from pediatric care?",
    transition_of_care_plan_internal_row,
    transition_of_care_plan_internal_form
)}}

{{QUESTION_PANEL("Do you have an intake form for transitioning a pediatric patient into your practice?",
    intake_form_row,
    intake_form_form
)}}

{{QUESTION_PANEL("You said you have an intake form. Please upload a copy of this intake form here.",
    intake_form_upload_row,
    intake_form_upload_form,
    icon="file"
)}}

{{QUESTION_PANEL("Enter 3 patient names or IDs where each patient has a completed intake form in the patient record.",
intake_form_patient_example_rows,
intake_form_patient_example_form
)}}

{{block right_sidebar}}
{{end}}

{{block page_js}}
{{super}}
<script>
    $(".panel-body").each(function(){
        $(this).hide();
        $(this).fadeIn(500);
    })
</script>
{{end page_js}}