{{extend 'default/super.html'}}

<div class="alert text-strong alert-default">
    <strong><span class="glyphicon glyphicon-briefcase"></span> Manage PCMH Applications</strong>
    <msp; class="pull-right text-muted">
        <span class="text-danger">&#9632;</span> Trainer&emsp;
        <span class="text-warning">&#9632;</span> App Manager&emsp;
        <span class="text-success">&#9632;</span> Contributor&emsp;
        <span class="text-primary">&#9632;</span> Visitor&emsp;
        {{if IS_ADMIN or IS_MASTER:}}<a href="{{=URL(f="certify.html")}}"><span title="Mark a practice as certified" class="glyphicon glyphicon-certificate text-info"></span></a>&emsp;{{pass}}
    </span>
</div>
    {{=LOAD('default', 'load_apps_grid.load', ajax=True, user_signature=True)}}  {{# keep signature so we don't have to check for permission again to allow access to this grid}}
<hr><br>

{{if IS_ADMIN or IS_MASTER or IS_HIMEL or IS_TRAINER:}}
<div class="alert alert-default">
    <strong><span class="glyphicon glyphicon-user"></span> Manage Users</strong>
</div>
    {{=LOAD('default', 'load_users_grid.load', ajax=True, user_signature=True)}}  {{# keep signature so we don't have to check for permission again to allow access to this grid}}
<hr><br>
{{pass}}

{{if auth.user.is_insight:}}
<div class="alert alert-default">
    <strong><span class="glyphicon glyphicon-book"></span> Contact Log</strong>
</div>
    {{=LOAD('default', 'load_logs_grid.load', ajax=True, user_signature=True)}}  {{# keep signature so we don't have to check for permission again to allow access to this grid}}
<hr><br>
{{pass}}