{{import urllib}}
{{import pydal.objects}}
{{from collections import OrderedDict}}
{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}

{{block head}}
    {{super}}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css"/>
{{end}}

{{block header}}
<header style="text-align: center; padding-bottom:1px;">
    {{# <h3>A. Spencer MD (MDLand)</h3>  {{#practice}}
    {{app_row = db((db.application.id == APP_ID) & (db.application.owner_id == db.auth_user.id)).select().last()}}
    <h3>{{=app_row.application.practice_name}}</h3>  {{#practice}}
    <h4>
        {{_practice_address = "%s%s, %s, %s %s" % (app_row.application.practice_address_line_1,
                                                   ", %s" % app_row.application.practice_address_line_2 if app_row.application.practice_address_line_2 else "",
                                                   app_row.application.practice_city,
                                                   app_row.application.practice_state,
                                                   app_row.application.practice_zip,
                                                  )
          if not IS_STAFF:
            _map_query = urllib.urlencode({'q':'660 White Plains Rd #325, Tarrytown, NY 10573'})
          else:
            _map_query = urllib.urlencode({'f':'d', 'saddr': INSIGHT_ADDR, 'daddr':_practice_address})
          pass
        }}
        <span class="glyphicon glyphicon-map-marker"></span> <a href="http://maps.google.com/?{{=_map_query}}">{{=_practice_address}}</a>  {{#}}
    </h4>  {{#address}} {{# http://bit.ly/2a59inp}}
    <h5>
    <span class="glyphicon glyphicon-earphone"></span> {{=app_row.application.practice_phone}} <span style="opacity:0.2">|</span>
    <span class="glyphicon glyphicon-print"></span> {{=app_row.application.practice_fax}} <span style="opacity:0.2">|</span>
    {{# <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:allison@insightmanagement.org">allison@insightmanagement.org</a>}}
    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:ebony@insightmanagement.org" class="text-capitalize">{{=app_row.auth_user.first_name}} {{=app_row.auth_user.last_name}} (primary contact)</a>
    </h5>
</header>
{{end}}

{{block left_sidebar}}
<ul class="nav nav-pills nav-stacked">
    {{_pcmh_info = {
        "1":"abc",
        "2":"abcd",
    } }}
    {{_pcmh = request.controller}}
    {{_element = request.function}}
    {{if _pcmh in "123456":}}
        {{for l in _pcmh_info[_pcmh]:}}
            <li role="presentation" {{if _element==l:}}class="active"{{pass}}><a href="{{=URL(_pcmh, l, vars=request.vars)}}">Element {{=l.upper()}}</a></li>
        {{pass}}
    {{else:}}
        <li role="presentation" {{if request.function == "practice":}}class="active"{{pass}}><a href="{{=URL('0', 'practice', vars=request.vars)}}">Practice</a></li>
        <li role="presentation" {{if request.function == "staff":}}class="active"{{pass}}><a href="{{=URL('0', 'staff', vars=request.vars)}}">Staff</a></li>
        <li role="presentation" {{if request.function == "emr":}}class="active"{{pass}}><a href="{{=URL('0', 'emr', vars=request.vars)}}">EMR</a></li>
        <li role="presentation"><a href="#">Credentials</a></li>
        <li role="presentation"><a href="#">NCQA</a></li>  {{# credit card http://stackoverflow.com/questions/1146810/taking-credit-card-information-online-without-processing-how-best-to-do-so}}
    {{pass}}
</ul>
{{end}}

{{def QUESTION_PANEL(qna):}}
{{if qna.show:}}
<div id="{{=qna.table_name}}" class="panel panel-{{if qna.needs_answer():}}info{{elif qna.has_warnings():}}warning{{else:}}primary{{pass}}">
    <div class="panel-heading question-box-heading"><span class="pull-right">&emsp;<span class="glyphicon glyphicon-{{if qna.needs_answer():}}unchecked{{elif qna.has_warnings():}}edit{{else:}}check{{pass}}"></span></span>
        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;{{=qna.question}}</div>
    <div class="panel-body">
    {{for warning in qna.warnings:}}
        <blockquote class="text-danger">{{=warning}}</blockquote>
    {{pass}}
    {{if qna.rows:}}
        <h5>
        {{_bullet="ul" if qna.limit==1 else "ol"}}
        {{=XML("<"+_bullet+">")}}
        {{for rendered in qna.render_template():}}
            <li>{{=rendered}}</li>
        {{pass}}
        {{=XML("</"+_bullet+">")}}
        </h5>
        <br>
    {{pass}}
    {{=qna.form}}
    </div>
</div>
{{pass}}
{{return}}

{{
        actions = []
        show_generic = False
        if any(map(lambda e: e.needs_answer(), QNA.instances)):
            actions.append(XML(T("Please <b class='text-info'>answer</b> one or more questions below.")))
            actions.append(XML(T("Note, some questions need more than one answer in order to be considered complete.")))
        pass
        if any(map(lambda e: e.has_warnings(), QNA.instances)):
            actions.append(XML(T("Please <b class='text-warning'>resolve</b> one or more questions below.")))
        pass
        if actions:
            actions.append(XML(T("If you feel stuck at any point, please contact your trainer above.")))
        pass
        has_action = bool(actions)
}}

<div class="panel panel-primary panel-{{if has_action:}}danger{{else:}}success{{pass}}">
    <div class="panel-heading question-box-heading" style="text-transform: none; font-size:17px"><span class="pull-right glyphicon glyphicon-{{if not has_action:}}ok-sign{{else:}}exclamation-sign{{pass}}"></span>{{if has_action:}}Action{{="s" if len(actions)>1 else ""}} needed...{{else:}}Success!{{pass}}</div>
    <div class="panel-body">
        <ul>
            {{for action in actions:}}
                <li>{{=action}}</li>
            {{pass}}
            {{if not has_action:}}
                <li>You have completed this section!</li>
                {{for doc in documents:}}
                    <li>Download <a href="{{=doc[1]}}">{{=doc[0]}}</a></li>
                {{pass}}
            {{pass}}
        </ul>
    </div>
</div>

{{include}}

{{block right_sidebar}}
{{end}}

{{block page_js}}
{{super}}
<script>
    $(".panel-body").each(function(){
        $(this).hide();
        $(this).fadeIn(500);
    })
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("[multiple='multiple'][class!='autocomplete']").multiselect();
    });
</script>

<!--Start of Tawk.to Script-->

<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/580000caa420952046850bff/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

<!--End of Tawk.to Script-->
{{end page_js}}