{{import urllib}}
{{import pydal.objects}}
{{from collections import OrderedDict}}
{{left_sidebar_enabled,right_sidebar_enabled=True,False}}
{{extend 'layout.html'}}

{{block head}}
    {{super}}
    <link rel="stylesheet" href="{{=URL('static','css/custom/bootstrap-multiselect.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{=URL('static','home/font-awesome/css/font-awesome.min.css')}}"/>
    <style>
        .panel-warning > .panel-heading {
            background-color: #e0ba29;
        }

        .text-warning {
            color: #e0ba29;
        }
    </style>
{{end}}

{{block header}}
<header style="text-align: center; padding-bottom:1px;">
    {{# <h3>A. Spencer MD (MDLand)</h3>  {{#practice}}
    {{app_row = db(db.application.id == APP_ID).select().last()}}
    {{participators = PARTICIPATORS(app_row)}}
    <h3>{{=app_row.practice_name}}</h3>  {{#practice}}
    <h4>
        {{_practice_address = "%s%s, %s, %s %s" % (app_row.practice_address_line_1,
                                                   ", %s" % app_row.practice_address_line_2 if app_row.practice_address_line_2 else "",
                                                   app_row.practice_city,
                                                   app_row.practice_state,
                                                   app_row.practice_zip,
                                                  )
          if not IS_STAFF:
            _map_query = urllib.urlencode({'q':'660 White Plains Rd #325, Tarrytown, NY 10573'})
          else:
            _map_query = urllib.urlencode({'f':'d', 'saddr': INSIGHT_ADDR, 'daddr':_practice_address})
          pass
        }}
        <span class="glyphicon glyphicon-map-marker"></span><span class="visible-print-inline">{{=_practice_address}}</span><a class="hidden-print" href="http://maps.google.com/?{{=_map_query}}">{{=_practice_address}}</a>  {{#}}
    </h4>  {{#address}} {{# http://bit.ly/2a59inp}}
    <h5>
    <span class="glyphicon glyphicon-earphone"></span> {{=app_row.practice_phone}} <span style="opacity:0.2">|</span>
    <span class="fa fa-fax"></span> {{=app_row.practice_fax}} <span style="opacity:0.2">|</span>
    {{# <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:allison@insightmanagement.org">allison@insightmanagement.org</a>}}
    <div class="btn-group">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
          <span class="glyphicon glyphicon-envelope"></span> Contacts <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {{for participant in participators:}}
        <li><a href="mailto:{{=participant.auth_user.email}}" class="text-capitalize">{{=participant.auth_user.first_name}} {{=participant.auth_user.last_name}} <span class="text-muted">{{=participant.auth_user.email}}</span> ({{=participant.auth_user.title}}{{=XML((", %s"%SPAN("Practice Contact", _class="text-danger")) if participant.auth_user.id == app_row.owner_id else "")}}{{=XML((", %s"%SPAN("You", _class="text-success")) if participant.auth_user.id == auth.user.id else "")}})</a></li>
        {{pass}}
      </ul>
    </div>
    </h5>
</header>
{{end}}

{{block left_sidebar}}
<ul class="nav nav-pills nav-stacked hidden-print">
    {{_pcmh = request.nav.get_pcmh_from_request()
    _element = request.nav.get_element_from_request()
    _elements = request.nav[_pcmh]['elements']
    _element_list = sorted(map(lambda e: _elements[e], _elements), key=lambda i: i.label)}}
    {{for e_storage in _element_list:}}
        <li role="presentation" {{if _element==e_storage.element:}}class="active"{{pass}}><a href="{{=e_storage.url}}">{{=e_storage.description}}</a></li> {{# credit card http://stackoverflow.com/questions/1146810/taking-credit-card-information-online-without-processing-how-best-to-do-so}}
    {{pass}}
</ul>
<div class="qrcode hidden-xs hidden-sm" style="text-align: center;">
    <br>
    <br>
    <small>View in Mobile:</small><br>
    <img style="display:inline-block;" class="thumbnail" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{=URL(vars=request.get_vars, host=True, scheme="https")}}">
</div>
{{end}}

{{def QUESTION_PANEL(qna):}}
{{if qna.show:}}
<div id="{{=qna.table_name}}" class="panel panel-{{if qna.needs_answer():}}primary{{elif qna.has_warnings():}}warning{{else:}}default{{pass}}">
    <div class="panel-heading question-box-heading"><span class="pull-right">&emsp;<span class="glyphicon glyphicon-{{if qna.table_name in APP.force_complete:}}edit{{elif qna.needs_answer():}}unchecked{{elif qna.has_warnings():}}warning-sign{{else:}}check{{pass}}" title="{{if qna.table_name in APP.force_complete:}}Marked As Completed{{elif qna.needs_answer():}}Incomplete{{elif qna.has_warnings():}}Needs Attention{{else:}}Answered{{pass}}"></span></span>
        <span class="glyphicon glyphicon-asterisk {{if qna.needs_answer() or qna.has_warnings():}}fa-spin{{pass}}"></span>&nbsp;{{=qna.question}}</div>
    <div class="panel-body">
{{if not qna.table_name in APP.force_complete:}}
    {{if qna.rows:}}
        <h5>
        {{_bullet="ul" if qna.limit==1 else "ol"}}
        {{=XML("<"+_bullet+">")}}
        {{for rendered in qna.render_template():}}
            <li>{{=rendered}}</li>
        {{pass}}
        {{=XML("</"+_bullet+">")}}
        </h5>
        <br>
    {{pass}}
        <div class="history"></div>
    {{for warning in qna.warnings:}}
        <blockquote class="text-primary">{{=warning}}</blockquote>
    {{pass}}
    {{=qna.form}}
{{else:}}{{=PRE("MARKED AS COMPLETE BY AN ADMIN.")}}<div class="history"></div>{{pass}}
        <small class="text-muted pull-left text-uppercase hidden-print"><i>#{{=qna.table_name}}</i></small>
        {{=TAG.button(SPAN(_class='glyphicon glyphicon-time'),  #_style="color: #BA55D3"),
            _title="See history of changes",
            _class="btn btn-sm btn-secondary pull-right hidden-print", _type="button",  # button needed else submit
            _onclick="$('{select}').load('{url}', function( response, status, xhr ) {onstatus});"
            .format(select = "#%s .history" % qna.table_name,
        url=URL('init', 'ajax', 'history.html', vars=dict(table_name=qna.table_name, template = qna.template,**request.get_vars),
        hmac_key=MY_KEY, salt=session.MY_SALT, hash_vars=["app_id", "table_name", "template"]),
            onstatus = "{ if (status=='error') {alert(status + ' ' + xhr.status + ' ' + xhr.statusText);} }",))
        }}
        {{if IS_ADMIN:}}
            {{=BUTTON(SPAN(_class='glyphicon glyphicon-edit'),
            _class="btn btn-sm btn-secondary pull-right hidden-print",
            _type="button",
            _title=("Unmark" if qna.table_name in APP.force_complete else "Mark") + " as complete",
            _onclick="location.href = '%s'"%URL(c="ajax", f="mark_as",
                args=["remove"] if qna.table_name in APP.force_complete else [],
                vars=dict(mark=qna.table_name, app_id=APP_ID, redir=request.function),
                hmac_key=MY_KEY, salt=session.MY_SALT, hash_vars=["app_id", "mark", "redir"]
            ))}}  {{#http://bit.ly/2tB6tYM}}
        {{pass}}
    </div>
</div>
{{pass}}
{{return}}

{{
        actions = []
        show_generic = False
        if any(map(lambda e: e.needs_answer(), QNA.instances)):
            actions.append(XML(T("Please <b class='text-primary'>answer</b> one or more questions below.")))
            actions.append(XML(T("Note, some questions need more than one answer in order to be considered complete.")))
        pass
        if any(map(lambda e: e.has_warnings(), QNA.instances)):
            actions.append(XML(T("Please <b class='text-warning'>resolve</b> one or more questions below.")))
        pass
        if actions:
            actions.append(XML(T("If you feel stuck at any point, please reach out to a contact above.")))
        pass
        has_action = bool(actions)
}}

<div class="panel panel-primary panel-{{if has_action:}}danger{{else:}}success{{pass}}">
    <div class="panel-heading question-box-heading" style="text-transform: none; font-size:17px"><a href="javascript:void(0);" class="pull-right
    hidden-print" title="Print page" style="color:white;" onclick="Tawk_API.hideWidget();">
        <span class="glyphicon glyphicon-print"></span></a>
        <span class="glyphicon glyphicon-{{if not has_action:}}ok-sign{{else:}}exclamation-sign{{pass}}"></span>
    {{if has_action:}}Action{{="s" if len(actions)>1 else ""}} needed...{{else:}}Success!{{pass}}</div>
    <div class="panel-body">
        <ul>
            {{for action in actions:}}
                <li>{{=action}}</li>
            {{pass}}
            {{if not has_action:}}
                <li>You have completed this section!</li>
            {{pass}}
        </ul>
    </div>
</div>

{{doc_links = []}}
{{for doc in documents:}}
    {{if any(map(lambda permission: globals()[permission], doc["permissions"])) or IS_ADMIN:}}  {{# if IS_MANAGER}}
        {{doc_links.append(LI(A(doc["description"],_href=doc["url"])))}}
    {{pass}}
{{pass}}
{{if doc_links:}}
<div class="panel panel-primary panel-info hidden-print">
    <div class="panel-heading question-box-heading" style="text-transform: none; font-size:17px">
        <span class="glyphicon glyphicon-folder-open"></span> Documents available!</div>
    <div class="panel-body">
        <ul>
            {{for doc_link in doc_links:}}
                {{=doc_link}}
            {{pass}}
        </ul>
    </div>
</div>
{{pass}}
{{for qna in reversed(QNA.instances):}}

    {{QUESTION_PANEL(qna)}}

{{pass}}

{{block right_sidebar}}
{{end}}

{{block page_js}}
{{super}}
<script>
    $(".panel-body").each(function(){
        $(this).css({visibility: hidden});
        $(this).animate({visibility:visible});
    })
</script>

<script src="{{=URL('static','js/custom/bootstrap-multiselect.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("[multiple='multiple'][class!='autocomplete']").multiselect({maxHeight:250});
    });
</script>

<!--set tooltip-->
<script>
    $('[title]').tooltip({'html': true});
</script>

<script>
    $(document).ready(function(){
        $(".carousel-caption").hide();
        $(".carousel").carousel(0).carousel({interval: 5000, pause: 'hover'}).hover(  //{{# pause: hover doesn't seem to work http://bit.ly/2rhzWph}}
            function(){
                $(".carousel").carousel('pause');
                $(".carousel-caption").fadeIn();
            }, function(){
                $(".carousel").carousel('cycle');
                $(".carousel-caption").fadeOut();
            });
    });
</script>

<!--Start of Tawk.to Script-->
{{import hashlib, hmac}}
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    <!--Set Talk.to variables-->
    Tawk_API.visitor  = {  {{# go to admin > property settings > enable secure js api > ok to always force secure mode}}
        'name': '{{="%s %s"%(auth.user.first_name.capitalize(), auth.user.last_name.capitalize())}}',
        'email': '{{=auth.user.email}}', {{# secure mode ensures that an evil script did not change the username}}
        'hash': '{{=hmac.new(TALK_TO_API_KEY, msg=auth.user.email, digestmod=hashlib.sha256).hexdigest()}}'
    };
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/580000caa420952046850bff/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>

<!--End of Tawk.to Script-->

<script>
    // hide certain objects when printing or ctrl+p
    Tawk_API.onChatHidden = function(){
            $(".form-control").addClass("hidden-print");
            $("[title]").tooltip('hide');
            $(".w2p_flash").addClass("hidden-print");  {{# hide web2py flash}}
            window.print();
    };
</script>

<script src="{{=URL('static','js/custom/_fixes.js')}}"></script>

{{end page_js}}